
.main_frame {
    height: 1200px;
    /* margin: 50px;*/
    background-color: #FFFAFA;
    align: center;
    padding: 0px;
}

body{
    align-content: center;
    text-align: center;
    padding: 150px;
    padding-top: 80px;

}

.top-info{
    height: 256px;
    background-color: Gainsboro;
}
.top-right-info{
    padding-left: 15px;
    padding-top: 15px;
}
.top-right-info h1{
    padding-left: 15px;
    padding-top: 15px;
}

.top-right-info h3{
    padding-left: 15px;
    padding-top: 15px;
    text-align: left;
}
.contact-top{
    text-align: left;
    padding-left: 15px;
    padding-top: 15px;
}
.contact{
    text-align: left;
}
.middle_info {
    text-align: left;
}
.middle_info h4{
    text-align: left;
    margin: 15px;
}


.middle_info p{
    text-align: left;
    margin: 15px;
}